@charset "UTF-8";

.alert-orignal {
  position: absolute !important;
  z-index: 999;
  text-align: center;
  width: 80%;
  left: calc((20%) / 2);
  opacity: 0.9;
}

.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

.title {
  margin-left: 20px;
  font-size: 18px;
}

.content {
  background-color: #fffffb;
}

.reset_button {
  margin-left: 4em;
}

@media screen and ( min-width: 1200px ){
  .content {
    width: 60%;
    margin: 0 auto;
    box-shadow: -10px 10px 25px rgba(250, 238, 209, 0.9),
      10px -10px 25px rgba(196, 233, 250, 0.9);

  }
}